@model City

@{
    Layout = null;
}

<div class="container my-5 mx-auto" style="background: #eeedec;
                                                         letter-spacing: 0.2em;
                                                         font-size: 1.2em;">

    <h1 class="text-muted text-center my-4">Weather App</h1>

    <div class="card shadow-lg rounded">
        <div class="icon bg-light mx-auto text-center">
            <!-- icon here later -->
        </div>
        <div class="text-muted text-uppercase text-center details">
            <h5 class="my-3">@Model.Name</h5>
            <h5 class="my-3">@Model.Country</h5>
            <div class="my-3">Weather condition</div>
            <div class="display-4 my-4">
                @foreach (var f in Model.Forecasts)
                {
                    <span> @f.Temperature </span>
                }
                <span>&deg;C</span>
            </div>
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>